[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crewai = "*"
crewai-tools = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
faiss-cpu = "*"
pdfplumber = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
